<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Cinematrix Sign In</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <link href="assets/img/favicon.png" rel="icon" />

    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <link href="assets/css/style.css" rel="stylesheet" />

    <style>
      body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/47c2bc92-5a2a-4f33-8f91-4314e9e62ef1/web/IN-en-20240916-TRIFECTA-perspective_72df5d07-cf3f-4530-9afd-8f1d92d7f1a8_large.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        z-index: -1;
      }
    </style>

  </head>

  <body class="bg-black" style="height: 100vh;">
    <main style="height: 100vh;">
      <div class="container" style="height: 100vh;">
        <section
          class="section register max-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
          style="height: 100vh;"
        >
          <div class="container">
            <div class="row justify-content-center">
              <div
                class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
              >
                <div class="d-flex justify-content-center py-4">
                  <a
                    href="/signin"
                    class="logo d-flex align-items-center w-auto"
                  >
                    <img src="logo/logo.png" alt="" /><span></span>
                    <span class="d-lg-block text-white">CINEMATRIX</span> 
                  </a>
                </div>

                <div class="card mb-3 bg-none">
                  <div class="card-body">
                    <div class="pt-4 pb-2">
                      <h5 class="card-title text-center pb-0 fs-4">
                        Login to Your Account
                      </h5>
                      <p class="text-center small text-black">
                        Enter your Email & Password to Login
                      </p>
                      <% if (message) { %>
                      <p class="text-center small" style="margin: 0; color:red; font-size: 1.2rem; font-weight:600">
                         <%= message %> 
                      </p>
                      <% }%>
                      <% if (message2) { %>
                        <p class="text-center small" style="margin: 0; color:green; font-size: 1.2rem; font-weight:600">
                           <%= message2 %> 
                        </p>
                        <% }%>
                    </div>

                    <form
                      class="row g-3 needs-validation"
                      novalidate
                      action="/login-data-validation"
                      method="post"
                    >
                      <div class="col-12">
                        <label for="youremail" class="form-label text-black"
                          >Email</label
                        >
                        <div class="input-group has-validation">
                          <span class="input-group-text text-black" id="inputGroupPrepend"
                            >@</span
                          >
                          <input
                            type="text"
                            name="email"
                            class="form-control"
                            id="youremail"
                            required
                          />
                          <div class="invalid-feedback text-black">
                            Please enter your username.
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="yourPassword" class="form-label text-black"
                          >Password</label
                        >
                        <input
                          type="password"
                          name="pass"
                          class="form-control"
                          id="yourPassword"
                          required
                        />
                        <div class="invalid-feedback text-black">
                          Please enter your password!
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-check">
                          <input
                            class="form-check-input text-black"
                            type="checkbox"
                            name="remember"
                            value="true"
                            id="rememberMe"
                          />
                          <label class="form-check-label text-black" for="rememberMe"
                            >Remember me</label
                          >
                        </div>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">
                          Login
                        </button>
                      </div>
                      <div class="col-12"></div>
                        <p class="small mb-0 text-black">
                          Don't have any account?
                          <a href="/signup">Sign Up</a>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.min.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
