<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright" style="color: white;">
    <strong><span style="font-size: large;">CINEMATRIX</span></strong><br>
    <span><i>A Project by</i></span> 
    <div style="display: flex; justify-content: space-around; align-items: center; margin: 0% 10%; margin-top: 1.2%">
      <div style="display: flex; flex-direction:column;">   
        <span>Aman Gupta</span> <span style="font-size: 0.75rem; font-weight: 700;">230001006</span>
      </div>
      <div style="display: flex; flex-direction:column;">   
        <span>Srinidhi Sai Boorgu</span> <span style="font-size: 0.75rem; font-weight: 700;">230001072</span>
      </div>
      <div style="display: flex; flex-direction:column;">   
        <span>Abhinav Bitragunta</span> <span style="font-size: 0.75rem; font-weight: 700;">230001003</span>
      </div>
      <div style="display: flex; flex-direction:column;">   
        <span>Ansh Jain</span> <span style="font-size: 0.75rem; font-weight: 700;">230004005</span>
      </div>
    </div>
  </div>
</footer>
