<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">
        <i class="fa-solid fa-house " style="color: #044bd0;"></i>
        <span>Home</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#tables-nav"
        data-bs-toggle="collapse"
        href="#"
      >
      <i class="fa-solid fa-video " style="color: #044bd0;"></i></i><span>Movies</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="tables-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="/tpmovieview">
            <i class="bi bi-circle"></i><span>Top Rated Movies</span>
          </a>
        </li>
        <li>
          <a href="/removieview">
            <i class="bi bi-circle"></i><span>Recent Movies</span>
          </a>
        </li>
        <li>
          <a href="/movieview/0">
            <i class="bi bi-circle"></i><span>View Movies</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#tables-otp"
        data-bs-toggle="collapse"
        href="#"
      >
      <i class="fa-solid fa-tv " style="color: #044bd0;"></i><span>TV Shows</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="tables-otp"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="/tpseriesshow">
            <i class="bi bi-circle"></i><span>Top TV Shows</span>
          </a>
        </li>
        <li>
          <a href="/reseriesshow">
            <i class="bi bi-circle"></i><span>Recent TV Shows</span>
          </a>
        </li>
        <li>
          <a href="/seriesshow/0">
            <i class="bi bi-circle"></i><span>View TV Shows</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#tables-nav-1"
        data-bs-toggle="collapse"
        href="#"
      >
      <i class="fa-solid fa-circle-user" style="color: #044bd0;"></i><span>Celebrities</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="tables-nav-1"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="/pcelebview">
            <i class="bi bi-circle"></i><span>Emerging Celebrities</span>
          </a>
        </li>

        <li>
          <a href="/celebview/0">
            <i class="bi bi-circle"></i><span>View Celebrities</span>
          </a>
        </li>

        <li>
          <a href="/btcelebview">
            <i class="bi bi-circle"></i><span>Celebrities Born Today</span>
          </a>
        </li>

      </ul>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#tables-1"
        data-bs-toggle="collapse"
        href="#"
      >
      <i class="fa-solid fa-trophy " style="color: #044bd0;"></i><span>Awards</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="tables-1"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a href="/awardac/0">
            <i class="bi bi-circle"></i><span>Academy Awards</span>
          </a>
        </li>

        <li>
          <a href="/awardem/0">
            <i class="bi bi-circle"></i><span>Emmy Awards</span>
          </a>
        </li>
      </ul>
    </li>
    
    <li class="nav-item">
      <a>
      <span style="color: white;">____________________________________</span>
      </a>
      
    </li>

  </ul>
</aside>